# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/*.log

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Build directories
dist/
build/

# ESLint
.eslintcache

# Prettier
.prettiercache

# Jest
coverage/
jest/

# VS Code
.vscode/

# MacOS
.DS_Store

# Miscellaneous
*.env
*.local
.idea/

# Husky
.husky/_/

