/*ART*/
#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section.--description {
  width: 100%;
  height: auto;

  display: grid;
  align-items: start;
  justify-content: start;
  align-content: center;
  justify-items: stretch;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 80px;
  row-gap: 172px;
}

.info__container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
  column-gap: 2px;
}

.info__container.--main {
  grid-row: 1;
  grid-column: 2;
}

.info__container.--overview {
  grid-row: 2;
  grid-column: 2;
}

.text {
  width: auto;
  height: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: var(--black);
}

.text.--heading {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}

.text.--subheading {
  font-size: 24px;
  line-height: 30px;

  color: var(--primary-lighter);
}

.text.--bold {
  font-weight: 700;
}

.text span {
  display: contents;
  color: var(--primary-lighter);
}

.--description .button.--white {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-16px, 16px);
  background: var(--white);
}

.--description .button.--white:hover,
.--description .button.--white.--favorite {
  background: var(--primary-background);
}

@media (hover: none), (pointer: coarse) {
  .--description .button.--white {
    transition: none;
  }

  .--description .button.--white:hover,
  .--description .button.--white:focus {
    background: var(--gray-background);
    transition: none;
  }

  .--description .button.--white:active,
  .--description .button.--white.--favorite {
    background: var(--primary-background);
  }
}

@media (max-width: 1080px) {
  .main__section.--description {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 0;
    row-gap: 50px;
  }

  .info__container.--main {
    grid-row: 2;
    grid-column: 1;
  }

  .info__container.--overview {
    grid-row: 3;
    grid-column: 1;
  }
}
